.termsandCondition {
  height: 100%;
  background: transparent;
  padding: 2em;
}
.termsandCondition h3{
  font-family: Quicksand;
  font-size: large;
  color: var(--color-secondary);
  padding: .5em;
  padding-top: 3em;
}
.termsandCondition h4, h5{
  font-family: Quicksand;
  font-size: medium;
  padding: .8em 0;
  text-align: start;
}
.termsandCondition h4 strong{
  font-family: Quicksand;
  font-size: medium;
  font-weight: 700;
  padding: .5em;
}
.termsandCondition ul li {
  font-family: Quicksand;
  font-size:small;
  padding: .5em;
  text-align: start;
}
.termsandCondition ul li b {
  font-family: Quicksand;
  font-size:smaller;
  padding: .5em;
  text-align: start;
}
.termsandCondition p {
  font-family: Quicksand;
  font-size:small;
  padding: .5em;
  text-align: justify;
}
.termsandCondition img {
 width: 20%;
}


